.admin-login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 26px);
}

.admin-login__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 48px;
    padding-left: 0;
    padding-right: 0;
}

.admin-login__card {
    max-width: 288px;
    width: 100%;
    margin: auto;
    padding: 16px;
    border-radius: 16px;
    background-color: rgba(var(--admin-app-light-background-color), 1);
    position: relative;
}

.admin-login__alerts {
    margin-top: 16px;
    width: 288px;
    margin-left: auto;
    margin-right: auto;
}

.admin-login__lang {
    position: absolute;
    right: 8px;
    top: 8px;
}

.admin-login__header {

}

.admin-login__field {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.admin-login__field__input {
    font-size: 16px;
}

.admin-login__nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.admin-login__back {
    margin-bottom: 8px;
}

.admin-login__reset-link {
    margin-right: 8px;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.admin-login__login-link {
    margin-left: auto;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

.admin-login__register-link {
    margin-left: auto;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

.admin-login__back-link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.admin-login__reset-link:hover, .admin-login__register-link:hover, .admin-login__back-link:hover {
    opacity: 0.8;
}

.admin-btn.admin-login__submit {
    display: block;
    width: 100%;
    margin-top: 24px;
    color: rgb(var(--admin-app-background-color));
    border-color: rgb(var(--admin-app-color));
    background-color: rgb(var(--admin-app-color));
}