.admin-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.admin-modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    width: 100vw;
    height: 100vh;
    background-color: rgba(var(--admin-app-backdrop-color), 0.5);
}

.admin-modal__dialog {
    position: relative;
    z-index: 10002;
    max-width: 500px;
    margin: 27px auto;
    max-height: calc(100% - 54px);
    display: flex;
}

.admin-modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: rgb(var(--admin-app-color));
    pointer-events: auto;
    background-color: rgb(var(--admin-app-background-color));
    border: 1px solid rgba(var(--admin-app-color), 0.3);
    border-radius: 5px;
    outline: 0;
}

.admin-modal__header {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid rgba(var(--admin-app-color), 0.1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.admin-modal__title {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
}

.admin-modal__close-btn {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 19px;
    height: 19px;
    padding: 0;
    color: transparent;
    border: 0;
    border-radius: 5px;
    opacity: 0.8;
    cursor: pointer;
}

.admin-modal__close-btn:before, .admin-modal__close-btn:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    height: 100%;
    width: 2px;
    background-color: rgb(var(--admin-app-color));
    opacity: 0.9;
}

.admin-modal__close-btn:before {
    transform: rotate(45deg) translate(6px, -6px);
}

.admin-modal__close-btn:after {
    transform: rotate(-45deg) translate(6px, 6px);
}

.admin-modal__close-btn:hover {
    opacity: 0.5;
}

.admin-modal__body {
    padding: 16px;
    overflow-y: auto;
}

.admin-modal__footer {
    padding: 16px;
    border-top: 1px solid rgba(var(--admin-app-color), 0.1);
}

.admin-modal__checkbox:checked ~ .admin-modal {
    display: block;
}
