.admin-search-group {
    display: flex;
    align-items: flex-start;
}

.admin-search-group__input-wrapper {
    position: relative;
}

.admin-search-group__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 40px;
}

.admin-search-group__reset {
    display: flex;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    height: 19px;
    width: 19px;
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
    z-index: 2;
    font-size: 22px;
    opacity: 0.5;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.admin-search-group__input:placeholder-shown ~ .admin-search-group__reset {
    display: none;
}

.admin-search-group__reset-icon-svg {
    top: 0;
}

.admin-search-group__reset:hover {
    opacity: 0.7;
}

.admin-search-group__submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}