.admin-create-edit-product__image-delete-btn {
    display: block;
    position: absolute;
    top: -8px;
    right: -8px;
    width: 24px;
    height: 24px;
    padding: 0;
    color: transparent;
    border: 0;
    border-radius: 50%;
    background-color: rgb(var(--admin-app-danger-color));
    opacity: 0.9;
    cursor: pointer;
    z-index: 10;
    transition: opacity 0.2s ease;
}

.admin-create-edit-product__image-delete-btn:before, 
.admin-create-edit-product__image-delete-btn:after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
    height: 14px;
    width: 2px;
    background-color: white;
    opacity: 1;
}

.admin-create-edit-product__image-delete-btn:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.admin-create-edit-product__image-delete-btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.admin-create-edit-product__image-delete-btn:hover {
    opacity: 1;
    background-color: rgb(var(--admin-app-danger-color));
}

.admin-create-edit-product__image-delete-btn:active {
    transform: scale(0.95);
}
