.admin-alert {
    position: relative;
    padding: 12px;
    color: currentColor;
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
}

.admin-alert.admin-accent {
    color: rgb(var(--admin-app-color));
    background-color: rgba(var(--admin-app-accent-color), 0.2);
    border-color: rgba(var(--admin-app-accent-color), 0.3);
}

.admin-alert.admin-success {
    color: rgb(var(--admin-app-color));
    background-color: rgba(var(--admin-app-success-color), 0.2);
    border-color: rgba(var(--admin-app-success-color), 0.3);
}

.admin-alert.admin-danger {
    color: rgb(var(--admin-app-color));
    background-color: rgba(var(--admin-app-danger-color), 0.2);
    border-color: rgba(var(--admin-app-danger-color), 0.3);
}

.admin-alert.admin-warning {
    color: rgb(var(--admin-app-color));
    background-color: rgba(var(--admin-app-warning-color), 0.2);
    border-color: rgba(var(--admin-app-warning-color), 0.3);
}

.admin-alert__checkbox:not(:checked) + .admin-alert {
    display: none;
}

.admin-alert__close {
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 16px;
    height: 16px;
    padding: 0;
    color: currentColor;
    border: 0;
    border-radius: 5px;
    opacity: 0.8;
    cursor: pointer;
    font-size: 0;
}

.admin-alert__close:before, .admin-alert__close:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    height: 100%;
    width: 2px;
    background-color: currentColor;
    opacity: 0.9;
}

.admin-alert__close:before {
    transform: rotate(45deg) translate(6px, -6px);
}

.admin-alert__close:after {
    transform: rotate(-45deg) translate(6px, 6px);
}

.admin-alert__close:hover {
    opacity: 0.5;
}