.shop-accordion {
}

.shop-accordion-header {
    display: block;
}

.shop-accordion-header:after {
    content: "";
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin: 0;
    border-right: 0.2em solid rgb(var(--shop-app-color));
    border-bottom: 0.2em solid rgb(var(--shop-app-color));
    transform: rotateZ(45deg) translate(0.1em, -0.4em);
}

.shop-accordion-checkbox {
    display: none;
}

.shop-accordion-body {
    margin-bottom: .4rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s;
}

.shop-accordion-checkbox:checked ~ .shop-accordion-body {
    max-height: var(--shop-accordion-max-height, 50rem);
}

.shop-accordion-checkbox:checked ~ .shop-accordion-header::after {
    transform: rotateZ(-135deg) translate(-0.4em, 0.2em);
}
