.admin-accordion {
}

.admin-accordion__header {
    display: block;
}

.admin-accordion__header:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0;
    border-right: 3px solid rgb(var(--admin-app-color));
    border-bottom: 3px solid rgb(var(--admin-app-color));
    transform: rotateZ(45deg) translate(3px, -6px);
}

.admin-accordion__checkbox {
    display: none;
}

.admin-accordion__body {
    margin-bottom: 6px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s;
}

.admin-accordion__checkbox:checked ~ .admin-accordion__body {
    max-height: var(--admin-accordion-max-height, 800px);
}

.admin-accordion__checkbox:checked ~ .admin-accordion__header::after {
    transform: rotateZ(-135deg) translate(-6px, 3px);
}
