<div class="shop-accordion">
    <input id="shop-accordion-checkbox"
           class="shop-accordion__checkbox"
           type="checkbox"
           name="shop-accordion__checkbox"
           hidden>
    <label class="shop-accordion__header"
           for="shop-accordion-checkbox">
        Accordion
    </label>
    <div class="shop-accordion__body" style="--shop-accordion-max-height: 2rem;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam, dolores doloribus earum est, explicabo facere illo laborum libero mollitia nam nihil obcaecati perferendis perspiciatis, quibusdam suscipit totam voluptas voluptates?
    </div>
</div>