.admin-checkbox {
    --admin-app-focus-box-shadow: 0 0 0 2px rgba(var(--admin-app-color), 0.5);
    position: relative;
    user-select: none;
    display: inline-block;
    padding: 0 0 0 2px;
    border-radius: 5px;
    line-height: 1.4;
}

.admin-checkbox__box {
    display: inline-block;
    max-width: 16px;
    min-width: 16px;
    max-height: 16px;
    min-height: 16px;
    position: relative;
    transform-origin: center;
    transform: translateY(2px) scale(1.3);
    margin-right: 5px;
    cursor: pointer;
}

.admin-checkbox__text {
    cursor: pointer;
}

.admin-checkbox__box:before, .admin-checkbox__box:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: currentColor;
    border-radius: 3px;
    transform-origin: center;
    opacity: 0.2;
}

.admin-checkbox__box:after {
    border-radius: 0;
    border-right: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    width: 4px;
    height: 8px;
    background: transparent;
    transform: rotate(45deg) translate(6px, -2px) scale(1.2);
    opacity: 0;
}

.admin-checkbox__input:checked ~ .admin-checkbox__box:after {
    opacity: 1;
}

.admin-checkbox__input:disabled ~ .admin-checkbox__box,
.admin-checkbox__input:disabled ~ .admin-checkbox__text {
    opacity: 0.5;
    cursor: auto;
}

.admin-checkbox:focus {
    box-shadow: var(--admin-app-focus-box-shadow);
    outline: none;
}

.admin-accent.admin-checkbox {
    --admin-app-focus-box-shadow: 0 0 0 2px rgba(var(--admin-app-accent-color), 0.5);
    color: rgb(var(--admin-app-accent-color));
}

.admin-success.admin-checkbox {
    --admin-app-focus-box-shadow: 0 0 0 2px rgba(var(--admin-app-success-color), 0.5);
    color: rgb(var(--admin-app-success-color));
}

.admin-danger.admin-checkbox {
    --admin-app-focus-box-shadow: 0 0 0 2px rgba(var(--admin-app-danger-color), 0.5);
    color: rgb(var(--admin-app-danger-color));
}

.admin-accent.admin-checkbox > .admin-checkbox__box:after,
.admin-success.admin-checkbox > .admin-checkbox__box:after,
.admin-danger.admin-checkbox > .admin-checkbox__box:after {
    color: rgb(var(--admin-app-color));
}