.admin-tags {
    display: flex;
    flex-wrap: wrap;
    font-size: inherit;
    align-items: flex-start;
}

.admin-tag {
    display: flex;
    flex-wrap: wrap;
    margin-right: 8px;
}

.admin-tag__name {
    display: block;
    margin-right: 8px;
    color: rgb(var(--admin-app-color));
    font-weight: 700;
    padding-top: 4px;
}

.admin-tag__value {
    display: flex;
    background-color: rgb(var(--admin-app-color));
    color: rgb(var(--admin-app-background-color));
    margin-right: 3px;
    padding: 3px 10px;
    border-radius: 16px;
    margin-bottom: 8px;
}

.admin-tag__close {
    display: block;
    width: 19px;
    height: 19px;
    position: relative;
    margin-left: 3px;
}

.admin-tag__close:hover {
    opacity: 0.8;
}

.admin-tag__close:before, .admin-tag__close:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: rgb(var(--admin-app-background-color));
    transform-origin: center;
    transform: rotate(45deg);
}

.admin-tag__close:after {
    transform: rotate(-45deg);
}