.admin-dropdown {
    position: relative;
    display: inline-block;
}

.admin-dropdown__menu {
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    display: none;
    padding: 8px 0;
    background: rgb(var(--admin-app-background-color));
    border: 1px solid rgba(var(--admin-app-color), 0.3);
    border-radius: 5px;
    list-style: none;
    margin: 0;
    z-index: 10;
}

.admin-dropdown__item {
    display: block;
    width: 100%;
    padding: 4px 16px;
    font-weight: 400;
    color: rgb(var(--admin-app-color));
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.admin-dropdown__btn:after {
    content: "";
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin: 0 0.3em 0 0;
    border-right: 0.2em solid currentColor;
    border-bottom: 0.2em solid currentColor;
    transform: rotateZ(45deg) translate(0.1em, -0.4em);
}

.admin-dropdown__item:hover {
    background-color: rgba(var(--admin-app-accent-color), 0.1);
}

.admin-dropdown:focus > .admin-dropdown__menu,
.admin-dropdown:focus-within > .admin-dropdown__menu {
    display: block;
}

.admin-dropdown:focus > .admin-dropdown__btn:after,
.admin-dropdown:focus-within > .admin-dropdown__btn:after {
    transform: rotateZ(-135deg) translate(-0.4em, 0.2em);
}
