.shop-b-checkbox__label {
    position: relative;
    cursor: pointer;
    user-select: none;
    padding-left: 1.7em;
    border-radius: 0.3em;
}

.shop-b-checkbox__label:before, .shop-b-checkbox__label:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.3em;
    height: 1.3em;
    background: currentColor;
    border-radius: 0.3em;
    transform-origin: center;
}

.shop-b-checkbox__label:before {
    opacity: 0.2;
}

.shop-b-checkbox__label:after {
    border-radius: 0;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    width: 0.5em;
    height: 0.9em;
    background: transparent;
    transform: rotate(45deg) translate(62%, -23%);
    opacity: 0;
}

.shop-b-checkbox:checked ~ .shop-b-checkbox__label:after {
    opacity: 1;
}

.shop-b-checkbox:disabled ~ .shop-b-checkbox__label:after {
    opacity: 0.5;
    cursor: auto;
}

.shop-b-checkbox:focus ~ .shop-b-checkbox__label,
.shop-b-checkbox__label:focus {
    box-shadow: var(--shop-app-focus-box-shadow);
    outline: none;
}

.shop-success > .shop-b-checkbox__label,
.shop-b-checkbox.shop-success ~ .shop-b-checkbox__label {
    --shop-app-focus-box-shadow: 0 0 0 2px rgba(var(--shop-app-success-color), 0.5);
    color: rgb(var(--shop-app-success-color));
}

.shop-danger > .shop-b-checkbox__label,
.shop-b-checkbox.shop-danger ~ .shop-b-checkbox__label {
    --shop-app-focus-box-shadow: 0 0 0 2px rgba(var(--shop-app-danger-color), 0.5);
    color: rgb(var(--shop-app-danger-color));
}

.shop-success > .shop-b-checkbox__label:after,
.shop-b-checkbox.shop-success ~ .shop-b-checkbox__label:after,
.shop-danger > .shop-b-checkbox__label:after,
.shop-b-checkbox.shop-danger ~ .shop-b-checkbox__label:after {
    color: rgb(var(--shop-app-color));
}