.admin-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 16px 0;
    list-style: none;
}

.admin-breadcrumb__item .admin-breadcrumb__link {
    color: inherit;
    border-radius: 5px;
}

.admin-breadcrumb__item .admin-breadcrumb__link:hover {
    opacity: 0.8;
}

.admin-breadcrumb__item + .admin-breadcrumb__item {
    padding-left: 8px;
}

/*noinspection CssUnresolvedCustomProperty*/
.admin-breadcrumb__item + .admin-breadcrumb__item::before {
    content: var(--bs-breadcrumb-divider, "/");
    float: left;
    padding-right: 8px;
}

.admin-breadcrumb__item--active {
    opacity: 0.8;
}
