.admin-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 240px;
    background: rgb(var(--admin-app-light-background-color));
    z-index: 200;
    font-size: 16px;
    height: 100vh;
}

.admin-sidebar ~ .admin-content {
    padding: 16px 16px 16px 256px;
}

.admin-sidebar__burger, .admin-sidebar__backdrop {
    display: none;
}

.admin-sidebar__brand {
    padding: 14px 16px;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    height: 64px;
    display: block;
    text-decoration: none;
    color: inherit;
}

.admin-sidebar__brand__logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

.admin-sidebar__nav {
    height: calc(100vh - 64px);
    overflow-y: auto;
}

.admin-sidebar__menu {
    margin-bottom: 8px;
    padding: 0 8px;
}

.admin-sidebar__menu__header, .admin-sidebar__menu__item__link {
    color: rgb(var(--admin-app-color));
}

.admin-sidebar__menu__header {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 8px;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.admin-sidebar__menu__header__content {
    display: flex;
    align-items: center;
    max-width: 192px;
}

.admin-sidebar__menu__header__text {
    flex: 1 0 0;
    display: block;
    max-width: 100%;
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.admin-sidebar__menu__header__icon {
    margin-right: 2px;
}

.admin-sidebar__menu__checkbox ~ .admin-sidebar__menu__header:hover,
.admin-sidebar__menu__checkbox ~ .admin-sidebar__menu__header:focus,
.admin-sidebar__menu__header:hover,
.admin-sidebar__menu__header:focus {
    opacity: 0.5;
}

.admin-sidebar__menu__items {
    background: 0 0;
    box-shadow: none;
    list-style: none;
    margin: 0;
    min-width: 180px;
    padding: 0 0 6px 0;
    transform: translateY(3px);
}

.admin-sidebar__menu__item {
    margin-top: 0;
    position: relative;
    text-decoration: none;
    padding: 0 0 0 12px;
}

.admin-sidebar__menu__item__link {
    display: inline-block;
    text-decoration: none;
    padding: 3px 8px;
    border-radius: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

.admin-sidebar__menu__item__link.admin-active, .admin-sidebar__menu__header.admin-active {
    opacity: 0.8;
}

.admin-sidebar__menu__item__link:focus,
.admin-sidebar__menu__item__link:active,
.admin-sidebar__menu__item__link:hover {
    opacity: 0.5;
}

@media (max-width: 767px) {
    .admin-sidebar {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 112px 0 16px;
    }

    .admin-sidebar ~ .admin-content {
        padding: 45px 16px 16px 16px;
    }

    .admin-sidebar__brand {
        height: auto;
        padding: 0;
        display: block;
    }

    .admin-sidebar__nav {
        position: fixed;
        z-index: 230;
        right: -240px;
        top: 40px;
        height: calc(100% - 40px);
        width: 240px;
        padding: 16px 0;
        background: rgb(var(--admin-app-light-background-color));
        transition: transform 0.3s;
    }

    .admin-sidebar__backdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(var(--admin-app-backdrop-color), 0.5);
        z-index: 190;
    }

    .admin-sidebar__burger {
        cursor: pointer;
        display: block;
        z-index: 250;
        position: fixed;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
        margin: 0 0 0 auto;
        font-size: 0;
        top: 8px;
        right: 16px;
    }

    .admin-sidebar__burger::before,
    .admin-sidebar__burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: rgb(var(--admin-app-color));
    }

    .admin-sidebar__burger::before {
        top: 0;
        box-shadow: 0 11px 0 rgb(var(--admin-app-color));
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }

    .admin-sidebar__burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }

    .admin-sidebar__nav__checkbox:checked ~ .admin-app .admin-sidebar__burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(var(--admin-app-backdrop-color), 0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }

    .admin-sidebar__nav__checkbox:checked ~ .admin-app .admin-sidebar__burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }

    .admin-sidebar__nav__checkbox:checked ~ .admin-app .admin-sidebar__backdrop {
        display: block;
    }

    .admin-sidebar__nav__checkbox:checked ~ .admin-app .admin-sidebar .admin-sidebar__nav {
        transform: translateX(-240px);
    }
}