.shop-input {
    display: block;
    width: 100%;
    padding: .3rem .7rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(var(--shop-app-color));
    appearance: none;
    background-color: rgb(var(--shop-app-background-color));
    background-clip: padding-box;
    border: 0.0625rem solid rgba(var(--shop-app-color), 0.2);
    border-radius: 0.3rem;
    outline: none;
}

.shop-input[type="range"] {
    height: 0.2rem;
    padding: 0;
}

input.shop-input:read-only, input.shop-input:disabled,
select.shop-input:disabled {
    background-color: rgba(var(--shop-app-color), 0.1);
}

input.shop-input:read-only:focus, input.shop-input:disabled:focus,
select.shop-input:disabled:focus {
    box-shadow: none;
}

.shop-success > .shop-input__label {
    color: rgb(var(--shop-app-success-color));
}

.shop-success > .shop-input {
    border-color: rgb(var(--shop-app-success-color));
}

.shop-success > .shop-input:focus {
    --shop-app-focus-box-shadow: 0 0 0 2px rgba(var(--shop-app-success-color), 0.5);
}

.shop-success > .shop-input[type="range"] {
    color: rgb(var(--shop-app-success-color));
    background-color: rgb(var(--shop-app-success-color));
}



.shop-danger > .shop-input__label {
    color: rgb(var(--shop-app-danger-color));
}

.shop-danger > .shop-input {
    border-color: rgb(var(--shop-app-danger-color));
}

.shop-danger > .shop-input:focus {
    --shop-app-focus-box-shadow: 0 0 0 2px rgba(var(--shop-app-danger-color), 0.5);
}

.shop-danger > .shop-input[type="range"] {
    color: rgb(var(--shop-app-danger-color));
    background-color: rgb(var(--shop-app-danger-color));
}