.admin-pagination {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.admin-pagination__item {
    list-style: none;
    margin-left: -1px;
}

.admin-pagination__item:first-child {
    margin-left: 0;
}

.admin-pagination__item:first-child .admin-pagination__link {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.admin-pagination__item:last-child .admin-pagination__link {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.admin-pagination__link {
    position: relative;
    display: block;
    font-size: 16px;
    color: rgb(var(--admin-app-color));
    text-decoration: none;
    background-color: transparent;
    border: 1px solid rgba(var(--admin-app-color), 0.1);
    height: 36px;
    min-width: 36px;
    padding: 6px;
    text-align: center;
    line-height: 22px;
}

a.admin-pagination__link, button.admin-pagination__link {
    cursor: pointer;
}

a.admin-pagination__link:hover, button.admin-pagination__link:hover,
a.admin-pagination__link.admin-active, button.admin-pagination__link.admin-active {
    background-color: rgba(var(--admin-app-accent-color), 0.1);
}

a.admin-pagination__link:active, button.admin-pagination__link:active {
    background-color: rgba(var(--admin-app-accent-color), 0.2);
}