.admin-menu {

}

.admin-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

.admin-menu__list__item {
    padding: 0 0 0 20px;
    margin: 0;
    position: relative;
}

.admin-menu__list__label {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 32px;
    cursor: pointer;
}

.admin-menu__list__label:before {
    content: '';
    position: absolute;
    display: block;
    left: 4px;
    top: 16px;
    width: 8px;
    height: 8px;
    transform-origin: center;
    transform: translateY(0) rotate(-135deg);
    border-left: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transition: transform 0.25s;
}

.admin-menu__list__link {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 7px 12px 7px 20px;
    margin-left: -20px;
    border-radius: 4px;
}

.admin-menu__list__link:hover, .admin-menu__list__link:focus {
    background-color: rgba(var(--admin-app-accent-color), 0.1);
    outline: none;
    box-shadow: none;
}

.admin-menu__list__label:hover ~ .admin-menu__list__link {
    background-color: rgba(var(--admin-app-accent-color), 0.1);
}

.admin-menu__list__item.admin-active > .admin-menu__list__link {
    background-color: rgba(var(--admin-app-accent-color), 0.2);
}

.admin-menu__list .admin-menu__list {
    --admin-items-count: 10;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s;
}

.admin-menu__list__checkbox:checked ~ .admin-menu__list {
    max-height: calc(var(--admin-items-count) * 80px);
}

.admin-menu__list__checkbox:checked ~ .admin-menu__list__label:before {
    transform: translateY(-2px) rotate(-45deg);
}