@media (max-width: 767px) {
    .admin-tabs--menu-mod-sm.admin-tabs {
        padding-top: 50px;
    }

    .admin-tabs--menu-mod-sm .admin-tabs__menu-label {
        display: inline-block;
    }

    .admin-tabs--menu-mod-sm .admin-tabs__nav {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        bottom: auto;
        width: auto;
        height: auto;
        max-width: 288px;
        max-height: 37px;
        border: 1px solid var(--admin-tabs-border-color);
        border-radius: 8px 8px 0 0;
        border-bottom: 0;
        overflow: hidden;
        background-color: var(--admin-tabs-bg-color);
        padding: 4px 0;
        transition: max-height 0.3s;
    }

    .admin-tabs--menu-mod-sm .admin-tabs__menu-checkbox:checked ~ .admin-tabs__nav {
        max-height: 800px;
        border-radius: 8px;
        border-bottom: 1px solid var(--admin-tabs-border-color);
    }

    .admin-tabs--menu-mod-sm .admin-tabs__link {
        border: none;
        margin: 0;
        cursor: auto;
        padding: 3px 48px 3px 16px;
        display: block;
        border-radius: 0;
        order: unset;
    }

    .admin-tabs--menu-mod-sm .admin-tabs__checkbox:checked ~ .admin-tabs__nav > .admin-tabs__link:nth-child(n) {
        border-right-color: var(--admin-tabs-bg-color);
    }

    .admin-tabs--menu-mod-sm .admin-tabs__nav:after {
        display: none;
    }

    .admin-tabs--menu-mod-sm.admin-tabs:before {
        content: '';
        position: absolute;
        left: 0;
        top: 35px;
        width: 100%;
        height: 1px;
        background-color: var(--admin-tabs-border-color);
    }

    .admin-tabs--menu-mod-sm .admin-tabs__menu-checkbox ~ .admin-tabs__nav {
        z-index: 3;
    }

    .admin-tabs--menu-mod-sm .admin-tabs__menu-checkbox:checked ~ .admin-tabs__nav .admin-tabs__link:hover {
        background-color: var(--admin-tabs-border-color);
    }

    .admin-tabs--menu-mod-sm .admin-tabs__menu-checkbox:checked ~ .admin-tabs__menu-label {
        background: transparent;
        border-color: transparent;
    }

    .admin-tabs--menu-mod-sm .admin-tabs__menu-checkbox:checked ~ .admin-tabs__menu-label:hover {
        background-color: var(--admin-tabs-border-color);
    }

    .admin-tabs--menu-mod-sm .admin-tabs__menu-checkbox:checked ~ .admin-tabs__nav .admin-tabs__link {
        cursor: pointer;
        order: -1;
    }
}
